body
{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #000;
    margin: 0px;
    padding: 0;
}

a
{
    color: #00dcc8;
    text-decoration: none;
}

.accent1
{
    color: #ff0064;
}
.accent2
{
    color: #00dcc8;
}
.accent3
{
    color: #666;
}

header
{
    background-color: #eee;
    color: #000000;
    font-size: xx-large;
    text-align: center;
    padding: 1cm;
}

section
{
    background-color: #f8f8f8;
}

article
{
    background-color: #fff;
    color: #000;
    max-width: 25cm;
    padding: 1cm;
    margin: auto;
}

footer
{
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 1cm;
}

nav
{
    background-color: #ddd;
    color: #000;
    text-align: center;
}

nav a
{
    color: #666;
    text-decoration: none;
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-width: 0mm;
    border-bottom-color: #6660;
    padding: 5mm;
    transition: 0.25s;
}

nav a.selected
{
    background-color: #00000004;
    border-bottom-width: 1mm;
    border-bottom-color: #666f;
    padding-bottom: 4mm;
}

nav a:hover
{
    background-color: #0001;
    color: #000;
    border-bottom-width: 2mm;
    border-bottom-color: #000;
    padding-bottom: 3mm;
}

nav a:active
{
    border-bottom-width: 1.5mm;
    padding-bottom: 3.5mm;
}

a.button
{
    --bg: #666;
    --bg-h: #222;
    --bg-p: #000;
    --fg: #fff;
    --fg-h: #fff;
    --fg-p: #fff;
    background-color: var(--bg);
    color: var(--fg);
    display: inline-block;
    border-style: none;
    border-radius: 1mm;
    padding: 4mm;
    transition: 0.25s;
}

a.button:hover
{
    background-color: var(--bg-h);
    color: var(--fg-h);
}

a.button:active
{
    background-color: var(--bg-p);
    color: var(--fg-p);
}
