body
{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: #000;
    margin: 0px;
    padding: 0;
}

a
{
    color: #00dcc8;
    text-decoration: none;
}

.accent1
{
    color: #ff0064;
}
.accent2
{
    color: #00dcc8;
}
.accent3
{
    color: #666;
}

header
{
    background-color: #eee;
    color: #000000;
    font-size: xx-large;
    text-align: center;
    padding: 1cm;
}

section
{
    background-color: #f8f8f8;
}

article
{
    background-color: #fff;
    color: #000;
    padding: 1cm;
}

section article
{
    max-width: 25cm;
    margin: auto;
}

footer
{
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 1cm;
}

nav
{
    background-color: #ddd;
    color: #000;
    text-align: center;
}

nav a
{
    color: #666;
    text-decoration: none;
    display: inline-block;
    border-bottom-style: solid;
    border-bottom-width: 0mm;
    padding: 5mm;
    transition: 1s;
}

nav a.selected
{
    border-bottom-width: 1mm;
    padding-bottom: 4mm;
}

nav a:hover
{
    background-color: #0001;
    color: #222;
    transition: 0.25s;
    border-bottom-width: 2mm;
    padding-bottom: 3mm;
}

nav a:active
{
    color: #000;
    transition: 0.25s;
}

a.donate-btc
{
    background-color: #fa0;
    color: #fff;
    display: inline-block;
    border-style: none;
    border-radius: 1mm;
    padding: 4mm;
    transition: 0.25s;
}

a.donate-btc:hover
{
    background-color: #d90;
    color: #fff;
    transition: 0.25s;
}

a.donate-btc:active
{
    background-color: #b80;
    color: #fff;
    transition: 0.25s;
}
